[github]
# Github Token
token = "can't tell"

# Github Token
secret = "can't tell"

[repo]
owner = "datafuselabs"
name = "datafuse"

[schedule]
nightly_release_cron = "@daily"
merge_check_cron = "@every 10s"

[rule]
# if >=half most
# if < half less
approved_rule = "most"

[comment]
pr_need_review_comment = "Hello @%v, Your pull request state is not in Draft, please add Reviewers or Re-request review again!"
