[github]
# Github Token
token = "can't tell"

# Github Token
secret = "can't tell"
owner = "datafuselabs"
name = "datafuse"

[schedule]
nightly_release_cron = "@daily"
merge_check_cron = "@every 10s"

[hint]
issue_first_time_comment = "Hello @%v, 🎉 Thank you for opening an issue! 🎉 <br /> One of the maintainers of the project will respond as soon as possible. Seeing that you are new here, please familiarize yourself with our [Roadmap](https://github.com/datafuselabs/datafuse/issues/746) and [contributing to datafuse](https://github.com/datafuselabs/datafuse/blob/master/website/datafuse/docs/development/contributing.md)"
pr_need_review_comment = "Hello @%v, 🎉 Thank you for opening an pull request! 🎉 <br />Your pull request state is not in Draft, please add Reviewers or Re-request review again!<br />FuseQuery: `@BohuTANG @sundy-li @zhang2014`<br />FuseStore: `@drmingdrmer @dantengsky` <br /> Or visit [datafuse roadmap](https://github.com/datafuselabs/datafuse/issues/746) for some clues."

[pr_description_action]
title = "Description check"
pending_desc = "Checking"
error_desc = "Description error"
success_desc = "Description OK"
target_url = "https://github.com/datafuselabs/datafuse/blob/master/.github/PULL_REQUEST_TEMPLATE.md"
checks = \bI hereby agree to the terms of the CLA available at: https://datafuse.rs/policies/cla/?\b, \bChangelog?\b, \bSummary?\b
allowlist = datafuse-bot,dependabot*
